.MuiContainer-maxWidthSm {
    max-width: 430px !important;

    border: 1px solid #c7c7c7;

    border-radius: 0.5ch;
    background-color: white;
    /* margin-top: 8%; */
    margin-bottom: 10%;
}

